PORT=3000
ATLASDB_URL=mongodb://localhost:27017/Travelodge
SECRET=thisisasecret

CLOUD_NAME=dz6sz4ynm
CLOUD_API_KEY=318161782683558
CLOUD_API_SECRET=t14taDJ6L3nIutAsUsBaVIO_RPY


MAP_TOKEN=pk.eyJ1Ijoicm9zaGFuc2FodSIsImEiOiJjbTlpNGlscmUwYnU2MmtyMHhhcDNuNjdrIn0.KVNKM0lO4L2TNUboY2pTYg


